@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #F0F0F0;
    --secondary-color: #000000;
    --accent1-color: #1E3A8A;
    --accent2-color: #B0B0B0;
    --extrastuff: #E0F7FA;
    --heading-font: "Montserrat", sans-serif;
    --paragraph-font: "Montserrat", Helvetica, sans-serif;
    --headline-color-on-white: black;
    --headline-color-on-color: white;
    --paragraph-color-on-white: black;
    --paragraph-color-on-color: white;
    --paragraph-background-color: var(--accent1-color);
    --nav-link-color: var(--primary-color);
    --nav-background-color: #B0B0B0;
    --nav-hover-link-color: var(--accent1-color);
    --nav-hover-background-color: var(--accent2-color);
    --nav-hover-glow-color: #ed5f80;
}

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-align: center;
    font-family: var(--paragraph-font);
}

img {
    display: block;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
}

h2 {
    text-align: center;
}

hr {
    height: 3px;
    margin: 35px 0;
    background: var(--accent1-color);
}

header {
    padding: 1em;
    text-align: center;
    color: var(--headline-color-on-color);
    background-color: var(--paragraph-background-color);
}

header > h1, header > h2 {
    color: var(--headline-color-on-color);
}

p {
    font-family: var(--paragraph-font);
    padding: 1em;
}

.colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
}

.colors th {
    background-color: #999;
}

.colors td {
    width: 25%;
    height: 3em;
}

.primary {
    background-color: var(--primary-color);
}

.secondary {
    background-color: var(--secondary-color);
}

.accent1 {
    background-color: var(--accent1-color);
}

.accent2 {
    background-color: var(--accent2-color);
}

p.colored {
    background-color: var(--paragraph-background-color);
    color: var(--paragraph-color-on-color);
}

nav {
    background-color: #2F4858;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 3em;
    font-size: 1.2em;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

.mikeyburn_logo {
    padding-top: 10px;
    width: 80px;
    padding-bottom: 10px;
    height: auto;
    margin: 0;
}

.nav-links {
    display: flex;
    margin-left: auto;
}

nav a, #info a {
    margin-left: 20px;
    min-width: 120px;
    text-decoration: none;
    padding: 1px;
    border-radius: 1px;
    box-sizing: border-box;
    font-family: var(--paragraph-font);
}

nav a:link, nav a:visited, #info a:link, #info a:visited {
    color: var(--nav-link-color);
}

nav a:hover, #info a:hover {
    color: var(--nav-hover-glow-color);
    border-radius: 90px;
    text-shadow: 0 0 5px var(--nav-hover-glow-color), 0 0 10px var(--nav-hover-glow-color), 0 0 15px var(--nav-hover-glow-color), 0 0 20px var(--nav-hover-glow-color);
}


body {
    margin: 0;
    padding-top: 3em; 
}

#landing-box {
    position: relative;
    margin-bottom: 50px;
    padding-top: 10px; 
    overflow: hidden;
}
#landing-box h1 {
    position: absolute;
    font-size: 4em;
    color: white;
}

#landing-img {
    width: 60%;
}

#about {
    background-color: #9DADBC;
    padding: 2%;
    margin: 0 5%;
}

#content-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

#seo, #social {
    width: 48%;
    text-align: center;
}

#seo img, #social img {
    width: 600px;
    height: auto;
}

#container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    margin: 2%;
}
#first_seo, #first_social, #second_seo, #second_social {
    width: 700px;
    height: auto;
    display: block;
    box-sizing: border-box;
}

.seo_one, .seo_two, .social_one, .social_two, .landing_img, .seo, .social {
    width: 100%;
    box-shadow: 5px 5px 10px #000000;
}
#seo_paragraph_1 {
    font-family: var(--paragraph-font);
    margin: 0 20px;
    grid-column: 1/2;
    grid-row: 1/2;
}
#second_seo, #second_social {
    grid-column: 2/3;
    grid-row: 2/3;
}
#second_seo {
    grid-column: 1/2;
}
#seo_paragraph_2 {
    font-family: var(--paragraph-font);
    margin: 0 20px;
    grid-column: 2/3;
    grid-row: 2/3;
}


footer {
    padding: 2em;
    background-color: #2F4858;
    color: white;
    text-align: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    font-family: var(--paragraph-font);
}
#info{
    color: #F0F0F0;
    font-family: var(--heading-font); 
}
#info a {
    color:#F0F0F0;
    text-decoration: none;
}

#icons_social img {
    width: 40px;
    height: auto;
    margin: 0 10px;
    display: inline-block;
}
